.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/chalk/**
!node_modules/execa/**
!node_modules/fs-extra/**
!node_modules/nunjucks/**
!node_modules/yaml/**
